*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
body{
  width: 100%;
 background-image: url(nature.gif);
 background-size: cover;
 height: 100vh;
 background-repeat: no-repeat;
 display: flex;
 justify-content: center;
 align-items: center;
}

.main{
  height: 500px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  box-shadow: 5px 5px 15px white;
}
#search{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  text-align: center;
  background-color: #8ECAE6;
}

.weather-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

#temperature{
  font-size: 100px;
  text-align: center;
  color: white;
}

.data{
  font-size: 30px;
  text-align: center;
  color: #FFB703;
}